html, body, #root {
    margin: 0;
    min-height: 100vh;
    background-color: #282c34;
    padding: 10px 80px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
}
.header h3 {
    color: #868686;
}
.searchbar input {
    padding: 5px 10px;
    border-radius: 37px;
    border: none;
    font-size: 16px;
    width: 375px;
    height: 30px;
    background-color: #374151;
}
.content-text {
    color: white;
    margin-top: 50px;
}
.content-text h3 {
    color: #868686;
}
.img-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 0;
    position: relative;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}
.img-text {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 15px;
    left: 10px;
    width: 40%;
}
.New-release h1 {
    margin-top: 50px;
    color: white;
}
.banner {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 15px;
    left: 10px;
    width: 100%;
}
.New_release{
    color: white;
}
.card-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.card {
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    width: 170px;
    height: 300px;
    position: relative;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.ep {
    font-size: 18px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
}
.nameM {
    font-size: 18px;
    height: 30px;
    text-align: center;
    color: white;
    left: 0px;
    text-align: center;
    max-width: 180px;

}